body {
  margin: 0;
  background-color: #cec3a5;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  height: 100vh;
  overflow-y: hidden;
}

/* *********** */
/* Page Header */
/* *********** */

header {
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#page-title-description {
  /* width: 30%; */
  padding-left: 1em;
}

#page-title, #page-description {
  width: 100%;
  text-align: center;
}

#page-title {
  font-size: 2em;
  font-weight: 400;
}

#page-description {
  font-size: 1.5em;
  font-weight: 300;
}

/* ************ */
/* Page Content */
/* ************ */

#content {
  display: flex;
  height: 100%;
}

/* ************************ */
/* Chord Generation Content */
/* ************************ */

#random-chord-progressions {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#song-name, #song-artist, #num-chords, #genre {
  width: 49%;
  text-align: center;
}

.descriptor {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

#chord-progression {
  width: 100%;
  text-align: center;
}

#spotify-container {
  height: 100%;
  width: 22em;
  display: flex;
  align-items: center;
  justify-content: center;
}